[Unit]
Description=Kanata Service
Requires=local-fs.target
After=local-fs.target

[Service]
ExecStartPre=modprobe uinput
ExecStart=/home/linuxbrew/.linuxbrew/bin/kanata -c /home/raf/.config/kanata-config/kanata.kbd
Restart=no

[Install]
WantedBy=sysinit.target
